@charset "UTF-8";

#body {
	background-color: #EBF2FC;
}

body {
	background-color: #EBF2FC;
}

.notice {
	padding: 20px 0;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	margin-top:  30px;
}


.category>span {
	left: 30px;
	top: 15px;
	position: relative;
}
.container2>div{
	left: 30px;
	top: 20px;
	position: relative;
	font-size: 1.2rem;
	font-weight: bolder;
	padding-bottom: 20px;
}
.text-center{
	width: 97%;
	margin : 0 auto;
	margin-top: 20px;
}
thead {
	background-color
	 :  #E0E0E0;
}
th {
	background-color
	 :  #E0E0E0;
}
.updatecancle{
	text-align: center;
}
.update{
	display :inline-block;
	margin-right :8px;
	margin-left :8px;
}

.text-center{
	 border: 1px solid #dee2e6;
}
td, th{
	border: 1px solid #dee2e6;
}

#staticMap{
	margin: auto;
    margin-top: 20px;
}