@charset "UTF-8";

/* 바디 */
body {
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif !important;
}

/* 헤더 */
.brand-logo {
	width: 100%;
	height: 100%;
}

.header-icon {
	width: 100%;
	color: white;
}

.user-image {
	border-radius: 50px;
}

.header-icon-background {
	width: 20px;
	height: 20px;
}

.breadcrumb{
	display:flex;
}
input{
   width: 100%;
   font-size: 14px;
   line-height: 1.42857143;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 6px 12px;
}
select[name=machineCd]{
    width: 100%;
    max-width: initial;
}
#receipt-form>div{
	display:flex;
	margin-bottom:10px
}
#receipt-form>div>div{
	flex:1;
}
#content{
	background-color: #FFFFFF;
    padding: 3px 100px;
}
#content>div{
	margin:9px 0px;
}
.tag-image{
	width:25px;
}
.flex-label-div{
	justify-content: space-between;
}
.flex-label-div>div{
	flex:0.5
}
.flex-label-div>div>h6{
	margin:0;
}
.in-decrease{
	float:right;
	margin:0px 10px
}
.in-decrease>span{
	color:#ccc;
	cursor:pointer
}
.in-decrease>span:hover{
	color:black;
}
.file-upload-div{
	display:block !important;
}
.file-upload-div>div{
	margin-bottom: 10px;
}
.form-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: navy;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	margin: auto;
	width:80px;
}
.form-btn:hover{
	background-color: #E6E6E6;
}
.form-btn:visited{
	color:white !important;		
}
#as-receipt-img{
	height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#search-box {
	width: 100%;
	border-collapse: collapse;
}

#search-box th, #search-box td {
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.selectMcha{
	width:100%;
	line-hieght:2;
}	

.modal{
	display: none; /* 모달 초기에는 숨김 상태로 설정 */
	position: fixed; /* 화면에 고정 */
	z-index: 1; /* 다른 요소보다 위에 표시되도록 설정 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 색상 */
	text-align: center;
}
.modal-content{
	background-color: #fefefe;
	margin: 10% auto; /* 모달을 수직, 수평 가운데로 위치시킴 */
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	height: 55%;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}