@charset "UTF-8";

/* 바디 */
body {
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif !important;
}

/* 헤더 */
.brand-logo {
	width: 100%;
	height: 100%;
}

.header-icon {
	width: 100%;
	color: white;
}

.user-image {
	border-radius: 50px;
}

.header-icon-background { 
	width: 20px;
	height: 20px;
}

.breadcrumb{
	display:flex;
}
input{
   width: 100%;
   font-size: 14px;
   line-height: 1.42857143;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 6px 12px;
}
select[name=machineCd]{
    width: 100%;
    max-width: initial;
}
#receipt-form>div{
	display:flex;
	margin-bottom:10px
}
#receipt-form>div>div{
	flex:1;
}
#content{
    padding: 3px 100px;
}
.tag-image{
	width:25px;
}
.flex-label-div{
	justify-content: space-between;
}
.flex-label-div>div{
	flex:0.5
}
.flex-label-div>div>h6{
	margin:0;
}
.in-decrease{
	float:right;
	margin:0px 10px
}
.in-decrease>span{
	color:#ccc;
	cursor:pointer
}
.in-decrease>span:hover{
	color:black;
}
.file-upload-div{
	display:block !important;
}
.file-upload-div>div{
	margin-bottom: 10px;
}
.form-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: navy;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	margin: auto;
	width:80px;
}
.form-btn:hover{
	background-color: #E6E6E6;
}
	