<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/code/code.css}" />
<head th:replace="~{/include/header :: header}">
<meta charset="UTF-8">
<title>코드리스트</title>

</head>
<body>
	<section id="notice" class="notice">
		<div class="container">
			<section class="category">
				<span>코드관리 > 코드조회</span>
			</section>
			<section class="filter">
				<div class="YN">
					<label class="fw">그룹코드 사용여부</label> <span class="YN1"> <input
						type="radio" class="radio-value" name="check" value="yes" /> 사용
					</span> <span class="YN2"> <input type="radio" class="radio-value"
						name="check" value="no" /> 미사용
					</span> <span class="YN3"> <input type="submit"
						onClick="window.location.reload()" class="resetbtn" value="초기화">
					</span>
				</div>
			</section>
			<div id="grcd">
				<section class="filter">
					<div class="YN4">
						<form th:action="@{/code/search}" method="get">
							<span class="fw">그룹코드 검색</span> <span class="inputbar"> <input
								type="text" name="keyword" size="40">
							</span> <input type="submit" value="검색" class="bt">
						</form>
					</div>
				</section>
				<div id="writebtn">
					<a href="javascript:void(0);" th:onclick="'popup();'"> <input
						type="button" class="cdwrite" value="코드등록">
					</a>
				</div>
				<table class="text-center">
					<thead>
						<tr>
							<th scope="col">순번</th>
							<th scope="col">그룹코드ID</th>
							<th scope="col">그룹코드이름</th>
							<th scope="col">코드상세ID</th>
							<th scope="col">코드상세이름</th>
							<th scope="col">사용여부</th>
							<th scope="col">상세보기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="no : ${list}">
							<td th:text="${no.cdIdx}"></td>
							<td th:text="${no.cdId}"></td>
							<td><a href="javascript:void(0);"
    th:attr="onclick='popup2(\'' + ${no.cdId} + '\');'" th:text="${no.cdNm}"></a></td>
							<td th:text="${no.cdDtlId}"></td>
							<td th:text="${no.cdDtlNm}"></td>
							<td th:text="${no.cdDtlUseYn}"></td>
							<td><a href="javascript:void(0);" th:data-cdId="${no.cdId}"
								th:data-cdDtlId="${no.cdDtlId}"
								onclick="popup1(this.getAttribute('data-cdId'), this.getAttribute('data-cdDtlId'));">
									<input type="button" class="btn_write" value="상세보기"
									th:if="${no.cdIdx != 0}">
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="grcd1">
				<div id="writebtn">
					<a href="javascript:void(0);" th:onclick="'popup();'"> <input
						type="button" class="cdwrite" value="코드등록">
					</a>
				</div>
				<table class="text-center">
					<thead>
						<tr>
							<th scope="col">순번</th>
							<th scope="col">그룹코드ID</th>
							<th scope="col">그룹코드이름</th>
							<th scope="col">코드상세ID</th>
							<th scope="col">코드상세이름</th>
							<th scope="col">사용여부</th>
							<th scope="col">상세보기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="no : ${list}">
							<td th:text="${no.cdIdx}"></td>
							<td th:text="${no.cdId}"></td>
							<td><a href="javascript:void(0);"
    th:attr="onclick='popup2(\'' + ${no.cdId} + '\');'" th:text="${no.cdNm}"></a></td>
							<td th:text="${no.cdDtlId}"></td>
							<td th:text="${no.cdDtlNm}"></td>
							<td th:text="${no.cdDtlUseYn}"></td>
							<td><a href="javascript:void(0);" th:data-cdId="${no.cdId}"
								th:data-cdDtlId="${no.cdDtlId}"
								onclick="popup1(this.getAttribute('data-cdId'), this.getAttribute('data-cdDtlId'));">
									<input type="button" class="btn_write" value="상세보기"
									th:if="${no.cdIdx != 0}">
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="grcd2">
				<div id="writebtn">
					<a href="javascript:void(0);" th:onclick="'popup();'"> <input
						type="button" class="cdwrite" value="코드등록">
					</a>
				</div>
				<table class="text-center">
					<thead>
						<tr>
							<th scope="col">순번</th>
							<th scope="col">그룹코드ID</th>
							<th scope="col">그룹코드이름</th>
							<th scope="col">코드상세ID</th>
							<th scope="col">코드상세이름</th>
							<th scope="col">사용여부</th>
							<th scope="col">상세보기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="no : ${list}">
							<td th:text="${no.cdIdx}"></td>
							<td th:text="${no.cdId}"></td>
							<td><a href="javascript:void(0);"
    th:attr="onclick='popup2(\'' + ${no.cdId} + '\');'" th:text="${no.cdNm}"></a></td>
							<td th:text="${no.cdDtlId}"></td>
							<td th:text="${no.cdDtlNm}"></td>
							<td th:text="${no.cdDtlUseYn}"></td>
							<td><a href="javascript:void(0);" th:data-cdId="${no.cdId}"
								th:data-cdDtlId="${no.cdDtlId}"
								onclick="popup1(this.getAttribute('data-cdId'), this.getAttribute('data-cdDtlId'));">
									<input type="button" class="btn_write" value="상세보기"
									th:if="${no.cdIdx != 0}">
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() { // 문서가 로드되면 실행
			$('#grcd1').hide();
			$('#grcd2').hide();
			$('.radio-value').on('click', function() {
				var valueCheck = $('.radio-value:checked').val();
				if (valueCheck === 'yes') {
					$('#grcd').hide();
					$('#grcd1').show(); // input 보이기
					$('#grcd2').hide(); // input 숨기기
				} else if (valueCheck === 'no') {
					$('.radio-value-detail').val(''); // 값 초기화
					$('#grcd').hide();
					$('#grcd2').show(); // input 보이기
					$('#grcd1').hide(); // input 숨기기
				}
			});
		});
		window.name = 'viewPage';
		function popup() {
			var url = "code/insert";
			var name = "popup test";
			var option = "width=700,height=600,top=200,left=500,scrollbars=yes,directories=no,location=no";
			window.open(url, name, option);
			window.close();

		}
		function popup1(cdId, cdDtlId) {
			var url = "/code/" + cdId + "/" + cdDtlId;
			var name = "popup test";
			var option = "width=1200,height=600,top=200,left=250,scrollbars=yes,directories=no,location=no";
			window.open(url, name, option);
			window.close();
		}
		function popup2(cdId) {
			var url = "code/" + cdId;
			var name = "popup test";
			var option = "width = 1200, height = 600, top = 100, left = 200, scrollbars = yes, directories = no, location=no";
			window.open(url, name, option);
			window.close();

		}
	</script>
</body>
</html>