<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/code/codedetail.css}" />
<meta charset="UTF-8">
<title>코드정보</title>
<body>
	<section id="notice" class="notice">
		<section class="category">
			<span>코드관리 > 코드정보</span>
		</section>

		<div class="container2">
			<div>그룹코드</div>
			<hr style="border: solid 1.2px; width: 97%;">
			<table class="table text-center">
				<thead>
					<tr>
						<th scope="col">그룹코드ID</th>
						<th scope="col">그룹코드이름</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="no : ${codeMng}">
						<td>[[${no.cdId}]]</td>
						<td>[[${no.cdNm}]]</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="container2">
			<div>그룹상세코드</div>
			<hr style="border: solid 1.2px; width: 97%;">
			<table class="table text-center">
				<tr>
					<th>그룹상세코드ID</th>
					<td>[[${codeMng.cdDtlId}]]</td>
					<th>그룹상세코드이름</th>
					<td>[[${codeMng.cdDtlNm}]]</td>
					<th>사용여부</th>
					<td>[[${codeMng.cdDtlUseYn}]]</td>
				</tr>
				<tr>
					<th>최초등록일</th>
					<td>[[${codeMng.cdDtlRegDttm}]]</td>
					<th>최초등록자ID</th>
					<td>[[${codeMng.cdDtlRegUser}]]</td>
				</tr>
				<tr>
					<th>최종수정일</th>
					<td>[[${codeMng.cdDtlModDttm}]]</td>
					<th>최종수정자ID</th>
					<td>[[${codeMng.cdDtlModUser}]]</td>
				</tr>

			</table>
			<div class="updatecancle">
			<a
				th:href="@{/code/update/__${codeMng.cdId}__/__${codeMng.cdDtlId}__}">
				<input type="button" class="update" value="수정">
			</a>
			
				<input type="button" class="update" value="취소" onclick="window.close()">
			</div>
		</div>
	</section>
</body>
</html>