<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/code/codedetail.css}" />
<head>
<meta charset="UTF-8">
<title>코드정보</title>
</head>
<body>
	<section id="notice" class="notice">
		<section class="category">
			<span>코드관리 > 그룹코드정보</span>
		</section>
		<div class="container2">
			<div>그룹상세코드</div>
			<hr style="border: solid 1.2px; width: 97%;">
			<table class="table text-center">
				<tr>
					<th>그룹코드ID</th>
					<td>[[${codeMng.cdId}]]</td>
					<th>그룹코드이름</th>
					<td>[[${codeMng.cdNm}]]</td>
					<th>사용여부</th>
					<td>[[${codeMng.cdUseYn}]]</td>
				</tr>
				<tr>
					<th>최초등록일</th>
					<td>[[${codeMng.cdRegDttm}]]</td>
					<th>최초등록자ID</th>
					<td>[[${codeMng.cdRegUser}]]</td>
				</tr>
				<tr>
					<th>최종수정일</th>
					<td>[[${codeMng.cdModDttm}]]</td>
					<th>최종수정자ID</th>
					<td>[[${codeMng.cdModUser}]]</td>
				</tr>

			</table>
			<div class="updatecancle">
				<a th:href="@{/code/update/__${codeMng.cdId}__}"> <input
					type="button" class="update" value="수정">
				</a> <input type="button" class="update" value="취소"
					onclick="window.close()">
			</div>
		</div>
	</section>

</body>
</html>