#userChat {
	float: right;
}
.chatArea{
	position: absolute;
	margin-top: 10px;
}
#userChat .hidden {
	visibility: hidden;
}

#buttonForm {
	width: 100%;
}

#chatIcon {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    color:white;
    float: right;
    line-height: inherit;
    margin-right: 5px;
}


@keyframes colorChange {
	from { 
	color :skyblue;
	}
	to {
	color: azure;}}
.chatbox {
	top:20px;
	background: #fafafa;
	min-height: 350px;
	width: 300px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.21), 0px 30px 20px -10px
		rgba(0, 0, 0, 0.2), 0px 60px 20px -30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	    position: relative;
    z-index: 1;
}

.chatbox_header {
	width: 100%;
	height: 50px;
	background: skyblue; 
	background: -webkit-linear-gradient(to left, skyblue, #ff9966);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, skyblue, #ff9966);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	color: #fff;
	text-align: center;
}

.chatbox_header button {
	all:unset;
    position: absolute;
    left: 20px;
    fill: white;
    transition: 0.3s ease-in-out;
}
svg: hover {
	transform: translateX(-5px);
	transition: .3s ease-in-out;
}

.chatbox_body {
	height: 290px;
	width: 100%;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 10px 10px 20px;
	color: b
}

.message {
	display: block;
	width: auto;
	margin: 5px;
	align-self: flex-start;
	flex-direction: row;
	max-width: 60%;
	word-wrap: break-word;
}

.receive {
	padding-left: 30px; 
	color: black;}
	
.receive .message_text { 
	position:relative;
	margin-left : 10px;
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	animation: starkMessage .2s;
	-webkit-animation: starkMessage .2s; /* Safari 4.0 - 8.0 */ 
}
.receive .message_text::before {
  position: absolute;
    content: " ";
    left: -5px;
    bottom: 0;
    border-right: solid 10px #fff;
    border-top: solid 10px transparent;
    z-index: 0;
}

.sender {
	color: white;
	align-self: flex-end;
	padding-right: 30px;
}

.sender .message_text {
	position:relative;
	margin-right: 10px;
	background: #ff9966;
	background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);
	background: linear-gradient(to left, #ff5e62, #ff9966);
	padding: 10px;
	border-radius: 3px;
	z-index: 99;
	animation: starkMessage .2s;
	-webkit-animation: starkMessage .2s; /* Safari 4.0 - 8.0 */
}


.sender .message_text::after {
	position: absolute;
	content: " ";
	right: -5px;
	 bottom: 0;
	border-left: solid 10px #ff5e62;
	border-top: solid 10px transparent;
	z-index: 0;
}


.chatbox_input {
	display: flex;
	width: 100%;
	background: #fff;
	height: 60px; //
	box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.11);
	border-top: .5px solid #efefef;
}

.chatbox_input input {
	flex: 3;
	padding: 1em 2em;
	outline: none;
	border: 0;
	letter-spacing: 0.1em;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	color: black;
}

.chatbox_input button {
	outline: none;
	border: 0;
	flex: 1;
	background: white;
	cursor: pointer;
}

.chatbox_input svg  {
	fill: #ff9966;
}

::placeholder { 
	color: #dedede;
	opacity: 1; /* Firefox */
}

@keyframes starkMessage {
	from {transform: scale(0.9);
}80%{transform:scale(1.05);}
to {transform: scale(1);}
}