@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
	height:100%;
}
.comm-nav{
	z-index:999;
	font-size:1.5em;
	height:100px;
	line-height: 100px;
	background-color: yellow;
	margin-bottom: 20px;
}
#navbar-example2{
	padding: 0px 97px;
	height: 100%;
}
.flex-box {
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.navbar-brand img{
	width:100px;
	height: 100px;
}
.nav-box {
	width:800px;
	align-items: center;
}
.nav-pills{
	margin:0;
	padding:0;
	list-style:none;
	display: flex;
}
#nav-link{
	color:black;
	background-color:green;
	text-decoration: none;
	display: block;
}

#nav-link:hover {
	background-color: brown;
}
.nav-item {
	flex:1;
	position: relative;
}

.nav-link {
	text-align: center;
}

.nav-item:hover > .comm-nav-dropdown{
	display: block;
}

.comm-nav-dropdown{
	width:inherit;
	position: absolute;
	left:0;
	right:0;
	padding:0;
	margin:0;
	text-align:center;
	z-index:999;
	display: none;
}
.comm-nav-dropdown>li{
	font-size:0.9em;
	display:block;
	padding:0;
	margin:0;
	text-align:center;
	list-style:none;
	font-weight: normal;
	background-color: orange;
}
.comm-nav-dropdown>li:hover{
	background-color: gray;
}
.comm-nav-dropdown>li>a{
	color:black;
	text-decoration: none;
}

#wrap{
	min-height: 100%;
	position: relative;
}
footer{
	bottom: 0px;
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: #282828;
	color:white;
}
.info-first{
	color:white;
	width:100%;
	background-color: rgb(80,80,80);
}
.info-first>div{
	padding-bottom: 0.3%;
    padding-top: 0.3%;
}
.info-first>div>div{
    margin: 0% 20%;
}
.info-second>div>div{
    margin: 0% 20%;
    padding-top: 0.3%;
}
.privacy>span:hover{
	cursor:pointer;
	text-decoration: underline;
}
.logo{
	width: 200px;
	height: 100px;
}