@charset "UTF-8";
footer {
    position: relative;
    width: 100%;
    height: 100px;
}
#footer {
	width:100%;
    color: #ffffff;
}
.f-top {
	background-color: #636363;
	display:flex;
	justify-content:space-between;
    width:100%;
    height:40px;
    line-height: 40px;
    padding: 0 205px;
}
.f-btn {
	font-style: normal;
	background-color: #00006f;
	border: 1px solid #00006f;
	font-size:0.9em;
	padding:0 5px;
	cursor:pointer;
}
.num {
	font-size:1em;
	font-style: normal;
}
.f-bottom {
	background-color:#4a4a4a;
    width:100%;
    height:60px;
    line-height:30px;
    font-size: 0.8em;
    padding: 0 205px;
}

.f-info, .f-info2 {	
	float:left;
}
.f-info2 {
	clear:both;
}