@charset "UTF-8";
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	src: url("../../fonts/NotoSansKR-Regular.ttf")
}
.comm-nav{
	font-family: 'Noto Sans';
	width:100%;
	z-index:999;
	font-size:1.2em;
	height:100px;
	line-height: 100px;
	position: relative;
}

/******** 최상단 바 ***********/
.top-bar {
	display:flex;
	justify-content:flex-end;
	padding: 0 20px;
	font-size:0.8em;
	color:#ffffff;
	height: 30px;
	line-height: 30px;
	text-align: right;
	background-color: #0D406E;
	margin-top:0;
}
.top-bar p {
	height:30px;
}
/****** 로그아웃 버튼 *******/
.logout-btn {
	font-family: 'Noto Sans';
	width:85px;
	font-size: 1em;
	height:30px;
	top:0;
	line-height:20px;
	border-radius:0;
	margin-top:0;
	margin-left:10px;
	padding: 5px 15px;
	border: 1px solid #00006f;
	background-color: #00006f;
	color:#ffffff;
	cursor: pointer;
}
.logout-btn:hover {
	text-decoration: underline;
	background-color: #00006f;
	border: 1px solid #00006f;
	color:#ffffff;
}
/********* nav 바 *************/
.nav-bar{
	position:relative;
	padding-left: 7px;
	padding-right: 25px;
	height: 70px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
}

/********** 로고 *****/

.nav-bar-brand {
	position:relative;
	flex:0.15;
	height:60px;
	line-height: 60px;
}
/** 로고 이미지 **/
.nav-bar-brand img{
	padding-left:25px;
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:70px;
	cursor: pointer;
}

/** nav 메뉴 **/
.nav-box {
	flex:0.85;
	width:100%;
	align-items: center;
	width:100%;
	background-color: #ffffff;
}

.nav-list{
	height:70px;
	margin:0;
	padding:0;
	list-style:none;
	display: flex;
	background-color: #ffffff;
}

.nav-item {
	text-align:center;
	flex:1;
	position: relative;
}

.nav-links{
	font-family: 'Noto Sans';
	height:70px;
	line-height:70px;
	font-size:0.9em;
	color:#111111;
	text-decoration: none;
	display: block;
	text-align: center;
}

/** nav 메뉴 밑줄 생성 **/
.nav-item::after {
	display:block;
    content: '';
    position: absolute;
    bottom: 10px;
   	left: 50%; 
    transform: translateX(-50%); 
    margin:3px auto;
    width: 0;
    height: 4px; 
    background-color: #0D406E; 
    opacity: 0; 
    transition: opacity 0.5s ease, width 0.5s ease; 
}

.nav-item:hover::after {
    opacity: 1;
    width: 100%;
}


/** 드롭 메뉴 **/
.nav-list:hover .comm-nav-dropdown{
	display: block;
	position: absolute;
	width: 100%;
}

.comm-nav-dropdown{
	font-family: 'Noto Sans';
	text-align:center;
	z-index:99999;
	display: none;
	min-height: 200px;
	border-bottom: 2px solid #0D406E;
	background-color: #ffffff;
}

.comm-nav-dropdown>li{
	height:40px;
	line-height:40px;
	text-align:center;
	list-style:none;
	background-color: #ffffff;
}
.comm-nav-dropdown>li>a{
	color:#5f5f5f;
	text-decoration: none;
	font-size:0.7em;	
}

.comm-nav-dropdown > li:hover > a {
	text-decoration: underline;
}