<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/head :: head}"> </head>

<body>
	<header th:replace="~{include/header::header}">   </header>
	<div class="body-wrapper">
		<div class="banner">KccBrew 가맹점 A/S 관리 시스템</div>
		
		<div class="calAndtodo">
			<div id='calendar-container'>
				<p> < 일정 > </p>
				<div id='calendar'></div>
			</div>			
			<div class="to-do-list">
				<p> < A/S 일정 > </p>
				<ul class="tabnav">
					<li><a href="#today">오늘</a></li>
					<li><a href="#weekly">주간</a></li>
					<li><a href="#monthly">월간</a></li>
				</ul>
				<div class="tabcontent">
					<div id="today">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${assignList}" 
									th:if="${#dates.format(main.visitDate, 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td>
										<span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span>
										<span th:if="${main.machineCode == 'M_03'}">제빙기</span>
										<span th:if="${main.machineCode == 'M_04'}">에어컨</span>
										<span th:if="${main.machineCode == 'M_05'}">온수기</span>
									 </td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="weekly">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${weeklyData}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td>
										<span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span>
										<span th:if="${main.machineCode == 'M_03'}">제빙기</span>
										<span th:if="${main.machineCode == 'M_04'}">에어컨</span>
										<span th:if="${main.machineCode == 'M_05'}">온수기</span>
									 </td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="monthly">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${assignList}"
									th:if="${#strings.equals(#dates.format(main.visitDate, 'yyyy-MM'), #dates.format(#dates.createNow(), 'yyyy-MM'))}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td>
										<span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span>
										<span th:if="${main.machineCode == 'M_03'}">제빙기</span>
										<span th:if="${main.machineCode == 'M_04'}">에어컨</span>
										<span th:if="${main.machineCode == 'M_05'}">온수기</span>
									 </td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="bottom-menu">
			<div class="new-receipt btm">
				<table class="task-list">
					<caption class="tablecap">새로운 접수</caption>
					<thead>
						<tr>
							<th>접수번호</th>
							<th>접수 상태</th>
							<th>접수 장비</th>
							<th>점주 이름</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="main : ${asList}"
						th:if = "${main.asStatus == 'S_01'}">
							<td th:text="${main.asInfoNum}"></td>
							<td>
								<span th:if="${main.asStatus == 'S_01'}">접수 중</span>
							</td>
							<td>
								<span th:if="${main.machineCode == 'M_01'}">커피머신</span>
								<span th:if="${main.machineCode == 'M_02'}">냉장고</span>
								<span th:if="${main.machineCode == 'M_03'}">제빙기</span>
								<span th:if="${main.machineCode == 'M_04'}">에어컨</span>
								<span th:if="${main.machineCode == 'M_05'}">온수기</span>
							 </td>
							<td th:text="${main.managerName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="as-result btm">
				<table class="task-list">
					<caption class="tablecap">완료된 A/S (월간)</caption>
					<thead>
						<tr>
							<th>배정번호</th>
							<th>접수 장비</th>
							<th>결과</th>
							<th>지점</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="main : ${resultList}">
							<td th:text="${main.asAssignNum}"></td>
							<td>
								<span th:if="${main.machineCode == 'M_01'}">커피머신</span>
								<span th:if="${main.machineCode == 'M_02'}">냉장고</span>
								<span th:if="${main.machineCode == 'M_03'}">제빙기</span>
								<span th:if="${main.machineCode == 'M_04'}">에어컨</span>
								<span th:if="${main.machineCode == 'M_05'}">온수기</span>
							 </td>
							<td>
								<span th:if="${main.asStatus == 'S_01'}">접수 중</span>
								<span th:if="${main.asStatus == 'S_02'}">반려</span>
								<span th:if="${main.asStatus == 'S_03'}">접수 완료</span>
								<span th:if="${main.asStatus == 'S_04'}">처리 완료</span>
							 </td>
							<td>동대문점</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="js/comm/calendar.js"></script>
</body>
</html>