<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Log List</title>

<!-- css -->
<link rel="stylesheet" th:href="@{/css/log/log.css}">
<link rel="stylesheet" th:href="@{/css/log/pagination.css}">

</head>
<body>
	<div id="content">

		<form th:action="@{/log}" method="get" th:object="${searchContent}">

			<table id="search-box">
				<!-- 1행 -->
				<tr>
					<th>기간</th>
					<td><select class="tx2" name="startYr" id="yr"
						th:field="*{startYr}" onchange="javascript:chg();"
						title="검색 연도를 선택하세요">
							<option value="">연도</option>
							<option
								th:each="year : ${#numbers.sequence(T(java.time.Year).now().getValue(), T(java.time.Year).now().getValue() - 9)}"
								th:value="${year}" th:text="${year + '년'}"></option>
					</select></td>
					<td><select class="tx2" name="startMn" id="mn"
						th:field="*{startMn}" title="검색 월을 선택하세요">
							<option value="">월</option>
							<option th:each="month : ${#numbers.sequence(1, 12)}"
								th:value="${month}" th:text="${month + '월'}"></option>
					</select></td>
					<td>~</td>
					<td><select class="tx2" name="endYr" id="yr"
						th:field="*{endYr}" onchange="javascript:chg();"
						title="검색 연도를 선택하세요">
							<option value="">연도</option>
							<option
								th:each="year : ${#numbers.sequence(T(java.time.Year).now().getValue(), T(java.time.Year).now().getValue() - 9)}"
								th:value="${year}" th:text="${year + '년'}"></option>
					</select></td>
					<td><select class="tx2" name="endMn" id="mn"
						th:field="*{endMn}" title="검색 월을 선택하세요">
							<option value="">월</option>
							<option th:each="month : ${#numbers.sequence(1, 12)}"
								th:value="${month}" th:text="${month + '월'}"></option>
					</select></td>
					<td>
						<button type="submit" onclick="" class="form-btn">이동</button>
					</td>
				</tr>

				<!-- 2행 -->
				<tr>
					<th>경로</th>
					<td><input type="search" name="uri" placeholder="경로를 입력하세요"
						th:field="*{uri}"></td>
					<th>화면</th>
					<td><input type="search" name="view" placeholder="화면을 입력하세요"
						th:field="*{view}"></td>
					<th>사용자ID</th>
					<td colspan="2"><input type="search" name="userId"
						th:field="*{userId}" placeholder="사용자ID를 입력하세요"></td>
				</tr>

				<!-- 3행 -->
				<tr>
					<th>사용자 유형</th>
					<td><select class="tx2" name="userType" id=""
						th:field="*{userType}" onchange="javascript:chg();"
						title="사용자 유형을 선택하세요">
							<option value="">사용자</option>
							<option value="admin">관리자</option>
							<option value="점주">점주</option>
							<option value="기사">기사</option>
					</select></td>
					<th>IP</th>
					<td><input type="search" name="ip" placeholder="IP를 입력하세요"
						th:field="*{ip}"></td>
					<th>상태코드</th>
					<td colspan="2"><select class="tx2" name="statusCode" id="yr"
						th:field="*{statusCode}" onchange="javascript:chg();"
						title="검색 연도를 선택하세요">
							<option value="">상태코드</option>
							<option value="200 OK">200 OK</option>
							<option value="201 Created">201 Created</option>
							<option value="400 Bad Request">400 Bad Request</option>
							<option value="403 Forbidden">403 Forbidden</option>
							<option value="404 Not Found">404 Not Found</option>
							<option value="500 Internal Server Error">500 Internal
								Server Error</option>
					</select></td>
				</tr>
				<!-- 4행 -->
				<tr>
					<td colspan="7" style="text-align: center; border-bottom: 0px;">
						<div>
							<button type="submit" class="form-btn">검색</button>
						</div>
					</td>
				</tr>
			</table>
		</form>

		<div id="logTable">

			<div>
				<p class="data-info">
					전체<b><span th:text="${totalLog}"></span></b>건<span
						id="text-separator"> | </span><b><span
						th:text="${currentPage}"></span></b>/<b><span
						th:text="${totalPage}"></span></b>쪽
				</p>
			</div>

			<table>
				<thead>
					<tr>
						<th>Log Seq</th>
						<th>Date</th>
						<th>URI</th>
						<th>View</th>
						<th>User ID</th>
						<th>User Type</th>
						<th>IP</th>
						<th>Status Code</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="log : ${logs}">
						<td th:text="${log.logSeq}"></td>
						<td
							th:text="${#temporals.format(log.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<!-- <td th:text="${log.date}"></td> -->
						<td th:text="${log.uri}"></td>
						<td th:text="${log.view}"></td>
						<td th:text="${log.userId}"
							th:style="${log.userId == 'non-member' ? 'font-style: italic;' : ''}"></td>
						<td th:text="${log.userType}"
							th:style="${log.userType == 'non-member' ? 'font-style: italic;' : ''}"></td>
						<td th:text="${log.ip}"></td>
						<td th:text="${log.statusCode}"></td>
					</tr>
				</tbody>
			</table>
			<!-- searchContent확인: [[${searchContent}]] -->
			<!-- pagination -->
			<div class="pagination">
				<!-- 전 페이지 이동 버튼 -->
				<a th:if="${totalPage > 0}"
					th:href="@{/log(currentPage=1, 	
							startYr=${searchContent.startYr},  startMn=${searchContent.startMn}, endYr=${searchContent.endYr}, endMn=${searchContent.endMn}, 
							uri=${searchContent.uri}, view=${searchContent.view}, userId=${searchContent.userId}, 
							userType=${searchContent.userType}, ip=${searchContent.ip}, statusCode=${searchContent.statusCode})}"
					class="page-btn page-move">&lt;&lt;</a> <a
					th:if="${currentPage > 1}"
					th:href="@{/log(currentPage=${currentPage - 1}, 
							startYr=${searchContent.startYr},  startMn=${searchContent.startMn}, endYr=${searchContent.endYr}, endMn=${searchContent.endMn}, 
							uri=${searchContent.uri}, view=${searchContent.view}, userId=${searchContent.userId}, 
							userType=${searchContent.userType}, ip=${searchContent.ip}, statusCode=${searchContent.statusCode})}"
					class="page-btn page-move">&lt;</a> <a th:if="${currentPage == 1}"
					class="page-btn page-move">&lt;</a>

				<!-- 페이지 목록 출력 -->
				<div
					th:with="share=${currentPage > 1 ? @objectUtil.divideAndGetQuotient(currentPage - 1, 10) : 0}">
					<div class="page-btn"
						th:each="page : ${#numbers.sequence(1, totalPage)}"
						th:if="${page >= share * 10 + 1 and page <= (share + 1) * 10}">
						<a
							th:href="@{/log(currentPage=${page}, 
							startYr=${searchContent.startYr},  startMn=${searchContent.startMn}, endYr=${searchContent.endYr}, endMn=${searchContent.endMn}, 
							uri=${searchContent.uri}, view=${searchContent.view}, userId=${searchContent.userId}, 
							userType=${searchContent.userType}, ip=${searchContent.ip}, statusCode=${searchContent.statusCode})}"
							th:text="${page}" class="page-btn"
							th:classappend="${currentPage == page ? 'selected' : ''}"></a>

					</div>
				</div>

				<!-- 뒷 페이지 이동 버튼 -->
				<a th:if="${currentPage < totalPage}"
					th:href="@{/log(currentPage=${currentPage + 1}, 
							startYr=${searchContent.startYr},  startMn=${searchContent.startMn}, endYr=${searchContent.endYr}, endMn=${searchContent.endMn}, 
							uri=${searchContent.uri}, view=${searchContent.view}, userId=${searchContent.userId}, 
							userType=${searchContent.userType}, ip=${searchContent.ip}, statusCode=${searchContent.statusCode})}"
					class="page-btn page-move">&gt;</a> <a
					th:if="${currentPage == totalPage}" class="page-btn page-move">&gt;</a>
				<a
					th:href="@{/log(currentPage=${totalPage}, 
							startYr=${searchContent.startYr},  startMn=${searchContent.startMn}, endYr=${searchContent.endYr}, endMn=${searchContent.endMn}, 
							uri=${searchContent.uri}, view=${searchContent.view}, userId=${searchContent.userId}, 
							userType=${searchContent.userType}, ip=${searchContent.ip}, statusCode=${searchContent.statusCode})}"
					class="page-btn page-move">&gt;&gt;</a>
			</div>

		</div>
	</div>

	<!-- pagination -->
	<!-- 	<script th:src="@{/js/log/pagination.js}" defer="defer"></script>
	<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", function() {
	const logs = [[${logs}]];

    // Convert Thymeleaf model data to JavaScript array
    const dataList = [];
    logs.forEach(log => {
        const logArray = [
            log.logSeq,
            log.date,
            log.uri,
            log.view,
            log.userId,
            log.userType,
            log.ip,
            log.statusCode
        ];
        dataList.push(logArray);
    });

		const options = {
			itemsPerPage : 10,
			pageSelection : [ 5, 10, 15, 20 ],
			fontFamily : "'Segoe UI', arial, sans-serif",
			/* title : 'Log List', */
			height : '100%',
			searchableColumns : [ 0, 1, 2, 3, 4, 5, 6, 7 ]
		};

		/* simpleDataTable 함수 호출 */
		simpleDataTable('logTable', dataList, options);
	});
	</script> -->
</body>
</html>
