<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>점포등록</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/store/update.css}" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Google Maps API -->
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY5-GHYNs9VdzbExAcRYn5NPHIsu727XI&libraries=places&callback=initAutocomplete"
	async defer></script>
<!-- Daum Postcode API -->
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<section id="notice" class="notice">
		<section class="category">
			<span>점포관리 > 점포정보 > 점포수정</span>
		</section>
		<form th:action="@{/store/update}" method="post" id="storeForm"
			onsubmit="return submitForm()">
			<table class="table text-center">
				<tr>
					<th>지점명</th>
					<td><input type="text" id="storeNm" name="storeNm"
						th:value="${store.storeNm}" required> <input type="hidden"
						id="storeNmHidden" th:value="${store.storeNm}"></input> <!-- 숨겨진 필드 추가 -->
						<input type="button" name="strnm" value="중복확인" class="check"
						id="name-check-btn" required></td>
					<th>점포연락처</th>
					<td><input type="text" id="storeTelNo" name="storeTelNo"
						oninput="hypenTel(this)" maxlength="13"
						th:value="${store.storeTelNo}" placeholder="하이픈(-)은 자동입력 됩니다.."></td>
				</tr>
				<tr>
					<th>좌표</th>
					<td><input class="field" id="lat" name="latitude"
						th:value="${store.latitude}" />, <input class="field" id="lng"
						name="longitude" th:value="${store.longitude}"></td>

					<th>사용여부</th>
					<td><select name="useYn">
							<option value="Y">Y</option>
							<option value="N">N</option>
					</select></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input type="text" id="address_kakao" name="storeAddr"
						placeholder="클릭해주세요" th:value="${store.storeAddr}" readonly /> <input
						type="text" name="storeAddrDtl" id="storeAddrDtl"
						th:value="${store.storeAddrDtl}" required /></td>
				</tr>
				<tr>
					<th>지역분류</th>
					<td><select id="location" name="locationCd" size="3"
						th:attr="data-locationCd=${store.locationCd}">
							<option value="">지역선택</option>
							<option th:each="list : ${list}" th:value="${list.locationCd}"
								th:text="${list.locationNm}"
								th:selected="${store.locationCd}==${list.locationCd}" />
					</select> <select id="locationSeoul" name="locationCdSeoul" size="3"
						disabled>
							<option value="">지역선택 상세</option>
							<option th:each="list : ${seoullist}"
								th:value="${list.locationCd}" th:text="${list.locationNm}"
								th:selected="${store.locationCd}==${list.locationCd}" />
					</select></td>
				</tr>
			</table>
			<div id="staticMap" style="width: 780px; height: 455px;"></div>
			<div class="updatecancle">
				<input type="hidden" name="storeSeq" th:value="${store.storeSeq}">
				<input type="submit" name="save" class="button" value="저장"
					id="submitBtn"> 
<input type="button" class="update" value="취소" onclick="history.back()">
			</div>
		</form>
	</section>
</body>

<script>
    window.onload = function() {
        document.getElementById("address_kakao").addEventListener("click", function() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById("address_kakao").value = data.address;
                    document.querySelector("input[name=storeAddrDtl]").focus();
                    updateLatLng();
                }
            }).open();
        });
    }

    var mallsEnabled = false;

    function update_selected() {
        var selectedValue = $("#location").val();
        mallsEnabled = (selectedValue === "02");
    }

    $(function() {
        update_selected();

        $("#location").change(function() {
            update_selected();

            if (mallsEnabled) {
                $("#locationSeoul").prop('disabled', false);
            } else {
                $("#locationSeoul").prop('disabled', true);
            }
        });
    });

    function updateLatLng() {
        var address = document.getElementById("address_kakao").value;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            'address': address
        }, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                var lat = results[0].geometry.location.lat();
                var lng = results[0].geometry.location.lng();
                document.getElementById("lat").value = lat;
                document.getElementById("lng").value = lng;
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    const hypenTel = (target) => {
        target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
    }
    
    const storeNm = document.querySelector("#storeNm");
    const storeNmHidden = document.querySelector("#storeNmHidden"); // 숨겨진 필드
    const submitBtn = document.querySelector("#submitBtn"); // 폼 제출 버튼

    storeNm.addEventListener("input", () => {
        if (storeNm.value === storeNmHidden.value) {
            submitBtn.disabled = false; // 저장 버튼 활성화
        } else {
            submitBtn.disabled = true; // 저장 버튼 비활성화
        }
    });

    const nameCheckBtn = document.querySelector("#name-check-btn");

    nameCheckBtn.addEventListener("click", () => {
        const name = storeNm.value;
        if (!name) {
            alert("점포명을 입력해주세요.");
            return;
        }

        const store = {
            storetest: name,
        };

        const url = "/api/namecheck";
        fetch(url, {
            method: "POST",
            body: JSON.stringify(store),
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then((response) => {
            if (response.ok) {
                submitBtn.disabled = false; // 저장 버튼 활성화
                alert("사용가능한 점포명입니다.");
                storeNmHidden.value = name; // 숨겨진 필드에 값 설정
            } else if (response.status === 400) {
                submitBtn.disabled = true; // 저장 버튼 비활성화
                alert("이미 존재하는 점포명입니다.");
                throw new Error("이미 존재하는 점포명입니다.");
            }
        })
        .catch((error) => {
            console.error("에러 발생:", error);
        });
    });

    function submitForm() {
        var form = document.getElementById("storeForm");

        // AJAX 요청 보내기
        $.ajax({
            type : "POST", // 또는 "GET" 등 요청 방식 설정
            url : form.getAttribute("action"),
            data : $(form).serialize(), // 폼 데이터 시리얼라이즈하여 전송
            success : function(response) {
                // 응답 처리 로직 추가
                var Close = confirm("저장이 완료되었습니다. 창을 닫으시겠습니까?");
                if (Close) {
                    window.opener.location.reload();
                    window.close(); // 팝업 창 닫기
                }
            },
            error : function(error) {
                console.error("AJAX 요청 실패:", error);
                alert("저장에 실패하였습니다.");
            }
        });

        return false; // 폼 제출 중단
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
	$(document).ready(
			function() {
				kakao.maps.load(function() {
					// 이미지 지도에서 마커가 표시될 위치입니다 
					var markerPosition = new kakao.maps.LatLng(
					/*[[${store.latitude}]]*/+"", /*[[${store.longitude}]]*/
					+"");

					// 이미지 지도에 표시할 마커입니다
					// 이미지 지도에 표시할 마커는 Object 형태입니다
					var marker = {
						position : markerPosition
					};
					var staticMapContainer = document
							.getElementById('staticMap'), // 이미지 지도를 표시할 div  
					staticMapOption = {
						center : new kakao.maps.LatLng(
						/*[[${store.latitude}]]*/+"", /*[[${store.longitude}]]*/
						+""), // 이미지 지도의 중심좌표
						level : 3,
						marker : marker
					// 이미지 지도의 확대 레벨
					};

					// 이미지 지도를 표시할 div와 옵션으로 이미지 지도를 생성합니다
					var staticMap = new kakao.maps.StaticMap(
							staticMapContainer, staticMapOption);
				});
			});
	/*]]>*/
</script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8ebfc94bdd15e21c9b4d64159a004634"></script>
</html>

