<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:wght@500&display=swap"
	rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- css -->
<link rel="stylesheet"
	th:href="@{/css/maintest/jquery.gridster.min.css}">
<link rel="stylesheet" th:href="@{/css/maintest/jquery.ui.all.css}">
<link rel="stylesheet" th:href="@{/css/maintest/main.css}">
<link rel="stylesheet" th:href="@{/css/maintest/minicalendar.css}">
<link rel="stylesheet" th:href="@{/css/maintest/popup.css}">
<link rel="stylesheet" th:href="@{/css/maintest/sub.css}">
<link rel="stylesheet" th:href="@{/css/maintest/mymaintest2.css}">

<meta th:replace="~{include/head::head}" th:fragment="head-content" />

<script type="text/javascript">
	function checkLoginStatus() {
		// 여기에 로그인 상태를 확인하는 로직을 작성합니다.
		// 만약 비로그인 상태라면 아래와 같이 로그인 페이지로 이동할 수 있습니다.
		/* if (!isLoggedIn()) {
			window.location.href = "/logintest"; // 로그인 페이지 경로로 변경
		} */
	}

	function isLoggedIn() {
		var isLoggedIn = sessionStorage.getItem('isLoggedIn');
		return isLoggedIn === 'true';
	}
</script>

</head>
<body onload="checkLoginStatus()">
	<header th:replace="~{include/header::header}"></header>

	<!-- 본문 -->
	<div id="content">
		<div id="wrapper">
			<!-- 건수 확인 영역 시작 -->

			<!-- ********** box1**********  -->
			<div id="Enview_Portlet_63469" class="portlet box box1">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_업무서비스(학생)</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>


				<div id="Enview_Portlet_Content_63469" class="portlet-content">
					<script>
						function popup_view_nara(param) {
							//alert(param);
							window
									.open(
											param,
											"mail1",
											"height=900, width=1000, scrollbars=yes, status=no, resizable=yes, location=1, status=1, menubar=yes, toolbar=1");
						}
					</script>
					<div class="service">
						<h2>미확인 AS신청 건</h2>
						<ul>
							<li>
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_05.png" alt="받은메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_05.png" alt="받은메일아이콘"> <span>받은메일
										<em> 98 </em>건
								</span></a>
							</li>
							<li class="last">
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_06.png" alt="미확인메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_06.png" alt="미확인메일아이콘"> <span>미확인메일
										<em> 86 </em>건
								</span></a>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<!-- ********** box2**********  -->
			<div id="Enview_Portlet_63469" class="portlet box box2">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_업무서비스(학생)</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>


				<div id="Enview_Portlet_Content_63469" class="portlet-content">
					<script>
						function popup_view_nara(param) {
							//alert(param);
							window
									.open(
											param,
											"mail1",
											"height=900, width=1000, scrollbars=yes, status=no, resizable=yes, location=1, status=1, menubar=yes, toolbar=1");
						}
					</script>
					<div class="service">
						<h2>미처리 AS신청 건</h2>
						<ul>
							<li>
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_05.png" alt="받은메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_05.png" alt="받은메일아이콘"> <span>받은메일
										<em> 98 </em>건
								</span></a>
							</li>
							<li class="last">
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_06.png" alt="미확인메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_06.png" alt="미확인메일아이콘"> <span>미확인메일
										<em> 86 </em>건
								</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<!-- ********** box3**********  -->
			<div id="Enview_Portlet_63469" class="portlet box box3">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_업무서비스(학생)</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>


				<div id="Enview_Portlet_Content_63469" class="portlet-content">
					<script>
						function popup_view_nara(param) {
							//alert(param);
							window
									.open(
											param,
											"mail1",
											"height=900, width=1000, scrollbars=yes, status=no, resizable=yes, location=1, status=1, menubar=yes, toolbar=1");
						}
					</script>
					<div class="service">
						<h2>처리완료 AS신청 건</h2>
						<ul>
							<li>
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_05.png" alt="받은메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_05.png" alt="받은메일아이콘"> <span>받은메일
										<em> 98 </em>건
								</span></a>
							</li>
							<li class="last">
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_06.png" alt="미확인메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_06.png" alt="미확인메일아이콘"> <span>미확인메일
										<em> 86 </em>건
								</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>



			<!-- ********** box4**********  -->
			<div id="Enview_Portlet_63469" class="portlet box box4">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_업무서비스(학생)</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDY5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>


				<div id="Enview_Portlet_Content_63469" class="portlet-content">
					<script>
						function popup_view_nara(param) {
							//alert(param);
							window
									.open(
											param,
											"mail1",
											"height=900, width=1000, scrollbars=yes, status=no, resizable=yes, location=1, status=1, menubar=yes, toolbar=1");
						}
					</script>
					<div class="service">
						<h2>사용한 휴가일수</h2>
						<ul>
							<li>
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_05.png" alt="받은메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_05.png" alt="받은메일아이콘"> <span>받은메일
										<em> 98 </em>건
								</span></a>
							</li>
							<li class="last">
								<!--a href="javascript:;" onclick="javascript:popup_view_nara('http://email.inu.ac.kr/?sso=1'); return false;"><img src="/enview/inu/images/main/service_icon_06.png" alt="미확인메일아이콘" /-->
								<a href="javascript:;" onclick=""><img
									src="./service_icon_06.png" alt="미확인메일아이콘"> <span>미확인메일
										<em> 86 </em>건
								</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 건수 확인 영역 끝 -->
			<br style="clear: both;">



			<!-- 프로필 영역 시작 -->
			<!-- ********** box7**********  -->
			<div class="portlet-my box box7" data-col="1" data-row="1"
				data-sizex="1" data-sizey="2">
				<div class="p_11 profile">
					<h2>
						이세은<span>님</span> <span class="lesson"> 화학과&nbsp; 학생 (졸업) </span>
					</h2>
					<ul>
						<!-- <li><span class="title">최종접속 IP</span>112.221.241.99</li>
						<li><span class="title">최종로그인</span>2023-08-28 15:12</li> -->
					</ul>
					<fieldset>
						<div class="inputbox">
							<p class="txt">인천대학교_학생그룹</p>
							<select id="userIdList" name="userIdList"
								onchange="javascript:fn_idChange();"
								style="width: 194px; height: 45px;">
								<option value="">나의 다른 계정 보기</option>

								<option value="201402962" selected="selected">인천대학교_학생그룹</option>

							</select>
						</div>
					</fieldset>
					<ul class="btnArea">
						<li><a
							href="https://portal.inu.ac.kr:444/enview/portal/icu_stu/main_new#"
							onclick="javascript:goChangeInformationPage();">비밀번호 변경</a></li>
						<li class="last"><a href="javascript:;" onclick="">로그아웃</a></li>
					</ul>
				</div>
			</div>


			<!-- ********** box8**********  -->
			<!-- <div class="portlet-my box box8" data-col="1" data-row="1"
				data-sizex="1" data-sizey="2">
				<div class="p_11 profile">
					<h2>
						이세은<span>님</span> <span class="lesson"> 화학과&nbsp; 학생 (졸업) </span>
					</h2>
					<ul>
						<li><span class="title">최종접속 IP</span>112.221.241.99</li>
						<li><span class="title">최종로그인</span>2023-08-28 15:12</li>
					</ul>
					<fieldset>
						<div class="inputbox">
							<p class="txt">인천대학교_학생그룹</p>
							<select id="userIdList" name="userIdList"
								onchange="javascript:fn_idChange();"
								style="width: 194px; height: 45px;">
								<option value="">나의 다른 계정 보기</option>

								<option value="201402962" selected="selected">인천대학교_학생그룹</option>

							</select>
						</div>
					</fieldset>
					<ul class="btnArea">
						<li><a
							href="https://portal.inu.ac.kr:444/enview/portal/icu_stu/main_new#"
							onclick="javascript:goChangeInformationPage();">비밀번호 변경</a></li>
						<li class="last"><a href="javascript:;" onclick="">로그아웃</a></li>
					</ul>
				</div>
			</div> -->
			<!-- 프로필 영역 끝 -->

			<!-- to-do-list 영역 시작 -->
			<!-- ********** box9**********  -->
			<div class="to-do-list box box9">
				<p>< A/S 일정 ></p>
				<ul class="tabnav">
					<li><a href="#today">오늘</a></li>
					<li><a href="#weekly">주간</a></li>
					<li><a href="#monthly">월간</a></li>
				</ul>
				<div class="tabcontent">
					<div id="today">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${assignList}"
									th:if="${#dates.format(main.visitDate, 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td><span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span> <span
										th:if="${main.machineCode == 'M_03'}">제빙기</span> <span
										th:if="${main.machineCode == 'M_04'}">에어컨</span> <span
										th:if="${main.machineCode == 'M_05'}">온수기</span></td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="weekly">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${weeklyData}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td><span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span> <span
										th:if="${main.machineCode == 'M_03'}">제빙기</span> <span
										th:if="${main.machineCode == 'M_04'}">에어컨</span> <span
										th:if="${main.machineCode == 'M_05'}">온수기</span></td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="monthly">
						<table class="task-list">
							<thead>
								<tr>
									<th>배정번호</th>
									<th>방문 예정일</th>
									<th>접수 장비</th>
									<th>지점</th>
									<th>수리 기사 이름</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="main : ${assignList}"
									th:if="${#strings.equals(#dates.format(main.visitDate, 'yyyy-MM'), #dates.format(#dates.createNow(), 'yyyy-MM'))}">
									<td th:text="${main.asAssignNum}"></td>
									<td th:text="${#dates.format(main.visitDate, 'yyyy-MM-dd')}"></td>
									<td><span th:if="${main.machineCode == 'M_01'}">커피머신</span>
										<span th:if="${main.machineCode == 'M_02'}">냉장고</span> <span
										th:if="${main.machineCode == 'M_03'}">제빙기</span> <span
										th:if="${main.machineCode == 'M_04'}">에어컨</span> <span
										th:if="${main.machineCode == 'M_05'}">온수기</span></td>
									<td>강남점</td>
									<td th:text="${main.mechanicName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- to-do-list 영역 끝 -->






			<!-- 		<div id="Enview_Column_63487_1" style="float: left; width: 50%;"
			class="column">
			<div id="Enview_Portlet_63488" class="portlet">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_바로가기(학생)</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDg4fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDg4fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>
				<div id="Enview_Portlet_Content_63488" class="portlet-content">




					<script type="text/javascript">
						function q_link(quick_menu_name) {
							var sw = screen.availWidth;
							var sh = screen.availHeight;
							var pw;
							var ph;
							var px;
							var py;
							var set;

							if (quick_menu_name == "2017") {
								//2017년 예산신청
								window
										.open("http://erp.inu.ac.kr:8881/com/SsoCtr/initPageWork.do?loginGbn=sso");
							} else if (quick_menu_name == "sms") {
								//SMS
								window
										.open("http://msg.inu.ac.kr/resources/sso/login.jsp");
							} else if (quick_menu_name == "el") {
								//이러닝
								window
										.open("http://cyber.inu.ac.kr/local/ubion/sso/sso.php");
								// Direct login url
								//window.open("http://cyber.incheon.ac.kr/");
							} else if (quick_menu_name == "ctl") {
								//원교육혁신
								//window.open("http://ctl.inu.ac.kr/sso/login.php","ctl");
								window
										.open(
												"https://ctl.inu.ac.kr/modules/inu/sso/sso.php",
												"ctl");
								//alert("준비중입니다.");
								//alert("인천대학교 원교육혁신 홈페이지 개편 중입니다.\n2015-1학기 3월부터 새로운 모습으로 찾아오겠습니다.\n\n원교육혁신 관련 문의는 아래로 해주십시오.\n교수지원 : 032-835-9592\n학습지원 : 032-835-9595\n(학습돌봄프로그램 032-835-9598)\n이러닝지원 : 032-835-9593\n매체제작지원 : 032-835-9594\n\n학습돌봄프로그램 신청 접수는 아래 메일 주소로 해주십시오\nCTL 메일 : uictl@incheon.ac.kr ");
							} else if (quick_menu_name == "webhard") {
								//alert("준비중입니다.");
								//window.open('/enview/icu/helpping.html');
								window
										.open("http://webhard.inu.ac.kr/enpass/index_sso.php");
							} else if (quick_menu_name == "webmessanger") {
								//alert("준비중입니다.");
								window.open("https://webchat.incheon.ac.kr");
							} else if (quick_menu_name == "memo") {
								pw = 620;
								ph = 550;

								px = (sw - pw) / 2;
								py = (sh - ph) / 2;

								set = 'top=' + py + ',left=' + px;
								set += ',width='
										+ pw
										+ ',height='
										+ ph
										+ ',scrollbars=yes,titlebar=no,status=no,resizable=no,fullscreen=no';
								//alert("준비중입니다.");
								window.open(
										'/enview/board/list.brd?boardId=memo',
										'', set);
								//window.open("/enview/board/list.brd?boardId=memo");
							} else if (quick_menu_name == "mobile_prove") {
								//모바일 학생증 발급
								var frm = document.mobile_post;
								//alert("user_id111 = "+frm.sno.value);
								window.open("", "moblie_post");
								frm.target = 'moblie_post';
								frm.action = "http://smartid.incheon.ac.kr/student01.asp";
								//frm.action = "http://117.16.191.13/student01.asp";
								frm.submit();
								//window.open("117.16.191.13/student01.asp?sno=98026",'mobile_prove');
							} else if (quick_menu_name == "rsv") {
								//공간관리시스템 - 학생
								var frm = document.mobile_post;
								frm.target = "moblie_post";
								frm.id.value = frm.sno.value;
								frm.method = "post";
								frm.action = " https://fm.inu.ac.kr/icu/connect.jsp";
								/* frm.action = "http://117.16.231.147:8080/icu/connect.jsp"; */
								frm.submit();
							} else if (quick_menu_name == "vfms") {
								//시설관리 - 직원
								var frm = document.mobile_post;
								frm.target = "vfms";
								frm.method = "post";
								frm.action = " https://fm.inu.ac.kr/icu/connect.jsp";
								frm.submit();
							}

						}
					</script>

					바로가기서비스
					<div class="portlet-my" data-col="1" data-row="2" data-sizex="2"
						data-sizey="2">
						<div class="p_21 quick">
							<h2>바로가기 서비스</h2>
							<ul>
								<li><a href="javascript:;" onclick=""><span
										class="number">01</span><span class="txt">이러닝</span></a></li>
								<li><a href="https://starinu.inu.ac.kr/ssoLogin.jsp"
									target="_blank" title="학생역량관리시스템(STARinU)"><span
										class="number">02</span><span class="txt">학생역량관리시스템(STARinU)</span></a></li>

								<li><a href="javascript:;" onclick=""><span
										class="number">03</span><span class="txt">교육혁신원</span></a></li>
								<li><a href="http://abeek.inu.ac.kr/ssoprocess.aspx"
									target="_blank" title="공학인증 ABEEK"><span class="number">04</span><span
										class="txt">공학인증ABEEK</span></a></li>
								<li><a
									href="https://portal.inu.ac.kr:444/enview/portal/stu_board/stu_compliment_w.page"
									title="칭찬마당"><span class="number">05</span><span
										class="txt">칭찬마당</span></a></li>
								<li><a href="javascript:;" onclick=""><span
										class="number">06</span><span class="txt">공간관리시스템</span></a></li>
								<li><a href="http://sanhak.inu.ac.kr/sys_sso_lnk.act"
									target="_blank" title="ERP"><span class="number">07</span><span
										class="txt">산학협력단ERP</span></a></li>
								<li><a href="http://inurnd.inu.ac.kr/issue_login_lnk.act"
									target="_blank" title="학생시스템"><span class="number">08</span><span
										class="txt">학생연구원연구지원포탈</span></a></li>

								<li><a href="javascript:;" onclick=""><span
										class="number">09</span><span class="txt">웹하드</span></a></li>
							</ul>

							<form name="mobile_post" method="post"
								action="https://portal.inu.ac.kr:444/enview/portal/icu_stu/main_new">
								<input type="hidden" id="sno" name="sno" value="201402962">
								<input type="hidden" id="id" name="id" value="201402962">
							</form>

						</div>
					</div>
					바로가기서비스 //




				</div>
			</div>
		</div> -->



			<!-- 달력 일정 영역 시작 -->
			<!-- ********** box10**********  -->
			<div id="Enview_Portlet_63499" class="portlet box box10">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_나의일정</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDk5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDk5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>
				<div id="Enview_Portlet_Content_63499" class="portlet-content">



					<!-- 나의 일정 -->
					<div class="portlet-my" data-col="4" data-row="1" data-sizex="1"
						data-sizey="4">
						<div class="p_41 calender">
							<h2>나의 일정</h2>
							<!-- 달력 영역 -->
							<div class="cal_box"></div>
							<!-- 달력 영역 //-->
						</div>
					</div>
					<!-- 나의 일정 //-->
				</div>
			</div>

			<!-- ********** box11**********  -->
			<div id="Enview_Portlet_63499" class="portlet box box11">
				<div class="portlet-title" style="display: none;">
					<span class="portlet-title-content">N_나의일정</span><span
						class="portlet-title-action"><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDk5fGQx/icu_stu/main_new"
						target="_EnviewExtraWindow" title="작게"
						class="action portlet-action"><img src="./minimized.gif"
							alt="작게" border="0"></a><a
						href="https://portal.inu.ac.kr:444/enview/portal/_ns:YTYzNDk5fGQy/icu_stu/main_new"
						target="_EnviewExtraWindow" title="크게"
						class="action portlet-action"><img src="./maximized.gif"
							alt="크게" border="0"></a></span>
				</div>
				<div id="Enview_Portlet_Content_63499" class="portlet-content">



					<!-- 나의 일정 -->
					<div class="portlet-my" data-col="4" data-row="1" data-sizex="1"
						data-sizey="4">
						<div class="p_41 calender">
							<h2>나의 일정</h2>
							<!-- 달력 영역 -->
							<div class="cal_box"></div>
							<!-- 달력 영역 //-->
						</div>
					</div>
					<!-- 나의 일정 //-->
				</div>
			</div>
			<!-- 달력 일정 영역 끝 -->
			<br style="clear: both;">

		</div>
	</div>

</body>
</html>