@charset "utf-8"; 
/* CSS Document */

body{background:#ebf2fc;}
/*layer_popup*/
.index_bg{position:fixed; left:0; top:0; width:100%; height:100%; opacity:0.4; -ms-filter:alpha(opacity=40);filter:alpha(opacity=40); -moz-opacity:0.4; z-index:800; background:#000; overflow:hidden;}
.layer_wrap{position:relative; width:1280px; margin:0 auto; z-index:998;}
.layer_wrap:after{display:block; clear:both; content:"";}
.pop_content{margin:20px; background:#fff; padding:15px;}
.pop_content:after{clear:both; display:block; content:"";}
.sub_layer{position:fixed; left:50%; top:50%; z-index:998; background:#f0f0f0;}

/* 팝업 공통 css */
.popup{min-width:auto;}
.popup h2{width:100%; height:56px; background:url("../images/popup/popup_bg.gif") no-repeat right top #094b9f;}
.popup h2 span{font-size:18px; line-height:56px; color:#fff; margin-left:20px; font-weight:600;} 
.popup .btn_close{position:absolute; right:20px; top:22px;}

input[type="text"]{float:left; height:16px; line-height:16px; padding:6px 10px;  border:1px solid #c7c7c7;}

table.list p{float:left;}
table.list span{float:left; margin:0 15px 0 5px; height:30px; line-height:30px;}

p.alarm{height:30px; line-height:30px; background:#f7f7f7; padding:10px 15px; text-align:center;}
ul.alarm{}
ul.alarm li{line-height:28px; font-size:14px;}
ul.alarm li a{margin-left:10px; font-size:14px; color:#f16051; font-family:NSB;}

p.red{color:#f16051; margin-top:15px; text-align:center;}

.step{height:100px; line-height:100px; padding:0 10px; margin-top:20px;} 
.step:after{display:block; clear: both; content:"";}
.step ul li{float:left; width:50%; line-height:28px; padding:0 10px; box-sizing:border-box;}
.step ul li a{position:relative; display:inline-block; height:100px; background:#fff; width:100%; box-sizing:border-box;}
.step ul li dl{margin:15px 20px;}
.step ul li dt.title{font-size:24px; font-family:NSB; color:#094b9f; font-weight:600; margin-bottom:5px;}
.step ul li dt.txt{font-size:14px; font-family:NS; line-height:18px;}
.step ul li dd{position:absolute; top:10px; right:10px;}
.step ul li a:hover,
.step ul li a.on{border:2px solid #094b9f;}


.idsearch_result{background:url(../images/popup/icon_idsearch.png) no-repeat center top;  padding-top:65px; text-align:center; margin:15px 0;}
.idsearch_result ul{padding:15px 0;}
.idsearch_result ul li{line-height:24px; font-size:14px;}
.idsearch_result ul li em{font-family:NSB; color:#094b9f;}
.pwsearch_result{background:url(../images/popup/icon_pwsearch.png) no-repeat center top;  padding-top:65px; text-align:center; margin:15px 0;}
.pwsearch_result p{line-height:24px; font-size:14px; margin:15px 0;}
.pwsearch_result p em{font-family:NSB; color:#094b9f;}

span.red{color:#f16051; font-size:13px;}

/*비밀번호 input 스타일 추가_171206_김주연*/
input[type="password"]{float:left; height:16px; line-height:16px; padding:6px 10px;  border:1px solid #c7c7c7;}
input[type="password"].txt_300{width:280px;}

/*로그인 연장 정보 스타일 추가_20210429_박강근*/
.alarm2{font-size:16px; font-weight:500; color:#000; height:30px; line-height:30px; background:#f7f7f7; padding:10px 15px; text-align:center;}
p.remaining{font-size:19px; font-weight:600; color:red; text-align:center; margin-top:40px;}

