@charset "UTF-8";

/* 캘린더 */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
	font-size: 12px;
}

.fc .fc-button-group>.fc-button {
	display: grid;
	align-content: center;
}

.fc .fc-button {
	display: flex !important;
	align-items: center !important;
}

.fc-scrollgrid-sync-inner>a {
	color: black !important;
}

.fc-daygrid-day-top>a {
	color: black !important;
}

.fc-toolbar-title {
	font-weight: bold;
}

.fc-event-title.fc-sticky {
	color: black !important;
}

/* 검색 */
#search-word {
	width: 300px !important;
	max-width: none;
}

/* 월근태현황 테이블 */
#cal-table {
	border: 1px solid !important;
	width: 100%;
	margin: 0px auto;
}

#cal-table td {
	border: 1px solid black;
}

#cal-table thead {
	border: 2.5px solid #043763;
	border-top: 5px solid darkgray;
	background: #043763;
	color: white;
}

.fc-scrollgrid-sync-table {
	width: 100% !important;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced {
	width: 100% !important;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
	min-height: 0.5em !important;
}

.fc-scrollgrid-sync-table {
	height: 100%;
}

.fc-daygrid-body fc-daygrid-body-unbalanced fc-daygrid-body-natural {
	height: 100%;
}

.fc-scroller {
	height: 100%;
}

.fc-scroller-harness {
	height: 100%;
}

.fc-scrollgrid-section.fc-scrollgrid-section-body {
	height: 100%;
}

.fc-scrollgrid-section.fc-scrollgrid-section-body>td {
	height: 100%;
}

.fc-view-harness.fc-view-harness-passive {
	height: 100%;
}

.fc-daygrid.fc-dayGridMonth-view fc-view {
	height: 100%;
}

.fc-scrollgrid {
	height: 100%;
}

.fc-daygrid.fc-dayGridMonth-view.fc-view {
	height: 100%;
}

.fc-scrollgrid {
	height: 100%;
}

.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural {
	height: 100%;
}

.fc-scrollgrid-sync-table {
	height: 100% !important;
}

.fc-scrollgrid-sync-table>tbody {
	height: 100%;
}

/* 요일 */
.fc-col-header {
	width: 100% !important;
}

.fc-event {
	padding: 3px;
}

/* 모달창 */
#modalContent {
	margin: 0px;
}

#listContainer {
	margin: 10px;
}