/* 폼 */
input[type="date"] {
	padding: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
}

#form-holiday-period {
	display: flex;
	justify-content: space-around;
}

select[name="locationCd"] {
	width: 300px;
}

#selectUserType {
}

#selectKeyword {
	width: 20%;
}

#search-word {
	max-width: none !important;
	width: 70% !important;
}