@charset "UTF-8";

.board-info {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
}

#logTable>form {
	margin: 10px 0;
}

.form-btn {
	display: inline;
}

.form-btn-box {
	margin: 10px;
	display: flex;
	justify-content: center;
}
}