<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kccbrew.strMng.dao.IStrMngRepository">

	<select id="storeAll" resultType="kr.co.kccbrew.strMng.model.StrMngVo">
		<![CDATA[
        select 
        	a.store_nm			AS	"storeNm", 
        	b.grp_cd_dtl_nm		AS	"locationNm",
        	a.store_telno		AS	"storeTelNo",
        	a.store_seq			AS	"storeSeq"
		from 
			store a, 
			group_code_detail b
		where 
			(b.grp_cd_id='L'
			OR
			b.grp_cd_id='LL')
		and	
			a.location_cd = b.grp_cd_dtl_id
		order by 
			store_seq
        ]]>
	</select>
<select id="search" parameterType="hashmap"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
	<![CDATA[
		SELECT 
			a.store_nm			AS	"storeNm", 
        	b.grp_cd_dtl_nm		AS	"locationNm",
        	a.store_telno		AS	"storeTelNo",
        	a.store_seq			AS	"storeSeq"
	 from 
			store a, 
			group_code_detail b
	    WHERE
	    		(b.grp_cd_id='L'
			OR
			b.grp_cd_id='LL')
		and	
			a.location_cd = b.grp_cd_dtl_id
	    		AND
	    		a.store_nm LIKE '%'||#{keyword}||'%'
	    		
		order by 
			store_seq
			]]>
	</select>
	
	<select id="storeDetail" parameterType="int"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
	<![CDATA[
        select
        	a.store_seq 		AS  "storeSeq",
        	a.store_nm			AS	"storeNm", 
        	a.location_cd			AS	"locationCd", 
        	b.grp_cd_dtl_nm		AS	"locationNm",
        	a.store_telno		AS	"storeTelNo",
        	a.store_addr 		AS 	"storeAddr",
        	a.latitude			AS	"latitude",
			a.longitude			AS	"longitude",
			a.store_addr_dtl	AS 	"storeAddrDtl",
			a.use_yn	AS 	"useYn"
			from 
			store a, 
			group_code_detail b
		where 
			a.store_seq = #{storeSeq}
		and
			(b.grp_cd_id='L'
			OR
			b.grp_cd_id='LL')
		and	
			a.location_cd = b.grp_cd_dtl_id
        ]]>
	</select>

	<select id="ownerList" parameterType="int"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
		<![CDATA[
        select 
        	b.user_nm			AS	"userNm",
        	b.user_telno		AS	"userTelNo"
		from 
			store_user_map a, 
			users b
		where 
			a.user_id = b.user_id
		and
			a.store_seq = #{storeSeq}
		order by 
			b.reg_dttm
        ]]>
	</select>

	<insert id="insert"
		parameterType="kr.co.kccbrew.strMng.model.StrMngVo">

		INSERT INTO STORE
		(store_seq, store_nm, store_addr, store_addr_dtl, latitude, longitude,
		store_telno, location_cd, reg_dttm, reg_user, MOD_DTTM, MOD_USER,
		USE_YN)
		  <choose>
		<when test='locationCdSeoul != null'>
			VALUES
			(store_seq.nextval, #{storeNm}, #{storeAddr}, #{storeAddrDtl}, #{latitude},
			#{longitude}, #{storeTelNo}, #{locationCdSeoul}, SYSDATE, #{regUser},
			SYSDATE, #{modUser}, 'Y')
                </when>
                <when test='locationCdSeoul == null'>
			VALUES
			(store_seq.nextval, #{storeNm}, #{storeAddr}, #{storeAddrDtl}, #{latitude},
			#{longitude}, #{storeTelNo}, #{locationCd}, SYSDATE, #{regUser},
			SYSDATE, #{modUser}, 'Y')
		</when>
                
            </choose>
	</insert>

	<select id="locationNm"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
		<![CDATA[
        select 
        	grp_cd_dtl_id			AS "locationCd",
        	grp_cd_dtl_nm			AS "locationNm"
        from
        	group_code_detail
        where
        	grp_cd_id='L'
        ]]>
	</select>

	<select id="locationNmSeoul"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
		<![CDATA[
        select 
        	grp_cd_dtl_id			AS "locationCd",
        	grp_cd_dtl_nm			AS "locationNm"
        from
        	group_code_detail
        where
			grp_cd_id='LL'
        ]]>
	</select>
	
	<update id="update"
		parameterType="kr.co.kccbrew.strMng.model.StrMngVo">
		UPDATE 
			store 
		SET 
			store_nm = #{storeNm}, 
			store_addr = #{storeAddr}, 
			store_addr_dtl = #{storeAddrDtl}, 
			latitude = #{latitude}, 
			longitude = #{longitude},
			store_telno = #{storeTelNo}, 
			<if test='locationCdSeoul != null'>
			location_cd = #{locationCdSeoul}</if>
			<if test='locationCdSeoul == null'>
			location_cd = #{locationCd}</if>
			,
			MOD_DTTM = SYSDATE,
			MOD_USER = #{modUser},
			use_yn=#{useYn}
		WHERE 
			store_seq=#{storeSeq}
			
	</update>
	
	<select id="selectStoreByName" parameterType="string"
		resultType="kr.co.kccbrew.strMng.model.StrMngVo">
        <![CDATA[
        SELECT 
            store_seq AS "storeSeq"
        FROM
            STORE
        WHERE store_nm = #{storeNm}
        ]]>
	</select>
</mapper>