@charset "UTF-8";

/***************** 공지사항 페이지 공통 **************************************/
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	src: url("../../fonts/NotoSansKR-Regular.ttf")
}

body {
	font-family: 'Noto Sans', 'Noto Sans KR', sans-serif !important;
}

.body-wrapper {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 30px 145px;
}

.header-icon {
	width: 100%;
	color: white;
}

.header-icon-background {
	position: relative;
	width: 20px;
	height: 20px;
}

.header-icon-background2 {
	position: relative;
	width: 20px;
	height: 20px;
	top: 6.5px;
}

.noti-head {
	display: inline-block;
}

.breadcrumb {
	display:inline-block;
	background-color: transparent;
	height:35px;
	margin-top: 5px;
	font-size: 12px;
}
.breadcrumb li {
	padding-left:3px;
}

.right-arrow {
	position: relative;
}

.breadcrumb li:first-child {
	background: none;
	padding-left: 7px;
}

.breadcrumb li:last-child {
	color: #333;
}

.content-wrapper {
	height: auto;
}

/****************** 네비게이션  *****************************************************/
.page-content-navigation {
	margin-bottom: 50px;
	height:33px;
	display: flex;
	justify-content: space-between;
}
.curPage {
	font-weight: bold;
}

/****************** 공지 목록 페이지  *****************************************************/
.table-wrapper {
	background-color: #ffffff;
	min-height:700px;
}

/* 검색 결과 하이라이트 */
.highlighted {
	background-color: yellow;
	font-weight: bold;
}

/* 검색 폼 */
.searchBox {
	padding: 20px 185px;
	background-color: #eeeeee;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}
.margin-for-searchbox {
	margin-bottom: 60px;
}
.searchForm {
	height:40px;
	width: 800px;
}
form {
	margin:0;
}

#searchListForm {
	display: flex;
	justify-content: space-between;
}

#searchListForm .select-list {
	width:120px;
}
#searchListForm .select-list #list-search{
	width:120px;
	height:40px;
}
#searchListForm .search-input .search-notice-box {
	border: 1px solid black;
	width: 500px;
	max-width: 500px;
	height: 40px;
	padding-right: 30px;
}
#searchListForm .search-notice-btn button{
	width:80px;
	height:40px;
	color:white;
	background-color: navy;
	cursor: pointer;
	border:none;
	border-radius: 4px;
}
#resetBtn {
	position:relative;
	border:none;
	background-color: transparent;
	bottom: 30px;
	left: 475px;
}
/* 리스트 출력 개수 select 박스 */
#cntPerPage{
    width: 100px;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
}

/* #cntPerPage option{
	width: 70px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
} */

.page-info {
	height:20px;
	margin-bottom:5px;
	font-size:0.9em;
	color:#4c4c4c;
	display: flex;
	justify-content: space-between;
}

.down-excel button {
	cursor:pointer;
	font-size:1em;
	border: none;
	background-color: #ffffff;
	color:#aeaeae;
}
.down-excel button:hover {
	color:black;
}
.pagenum {
	font-weight: bold;
}

.notice-table {
	width:100%;
	border:none;
	border-collapse: collapse;
	margin-bottom: 10px;
}


.notice-table tbody td:nth-child(1) {
	width:10%;
}
.notice-table tbody td:nth-child(2) {
	width:60%;
	text-align:left;
}
.notice-table tbody td:nth-child(3) {
	width:10%;
}
.notice-table tbody td:nth-child(4) {
	width:10%;
}
.notice-table tbody td:nth-child(5) {
	width:10%;
}

.notice-table th, .notice-table td {
	border:none;
}

.notice-table th {
	background-color: #ffffff;
	height:60px;
	border-bottom:1px solid #111111;
	border-top:2px solid #111111;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
}
.notice-table td {
	height:55px;
	border-bottom:1px solid #111111;
	border-collapse: collapse;
	text-align: center;
}
.notice-table tbody tr:hover {
	background-color: #eeeeee;
}

.btn-wrapper {
	margin-top: 30px;
	display: block;
	height:24px;
	text-align: center;
}

.noticeTitle a {
	text-decoration: none;
	color:#111111;
}

.noticeTitle a:hover {
	text-decoration: underline;
}

#insertNoticeBtn, .cancel, .toListBtn, .deleteBtn, .updateBtn, #updateNoticeBtn{
	background-color: navy;
	color: #ffffff;
	border: none;
	padding:5px 10px;
	border-radius: 4px;
	display:inline-block;
	align-items: center;
	text-decoration: none;
	margin-right:30px;
}
.writeBtn {
	background-color: navy;
	color: #ffffff;
	border: none;
	padding:5px 10px;
	border-radius: 4px;
	display:inline-block;
	align-items: center;
	text-decoration: none;
}

.writeBtn:hover, #insertNoticeBtn:hover, .cancel:hover, .toListBtn:hover, .deleteBtn:hover, .updateBtn:hover, #updateNoticeBtn:hover{
	background-color: #E6E6E6;
	color: #111111;
	text-decoration: none;
}

.cellPerPage {
	display: block;
	text-align: right;
}

/*** 페이징 부분 ****/
.pagingSection {
	margin-top:30px;
}

.pageBtns {
	display: inline-block;
	padding:0 15px;
}

.pagingSection a {
	text-decoration: none;
	color:inherit;
}

.pagingSection b {
	display:inline-block;
	background-color: navy;
	color:white;
	width:35px;
	height:35px;
	line-height:36px;
	border-radius: 50%;
	font-weight: bold;
}

.pagingSection .otherPage {
	display:inline-block;
	border-radius:50%;
	width:35px;
	height:35px;
	line-height: 36px;
}
.pagingSection img {
	width:15px;
	height:15px;
}

/************************ 공지 작성 페이지 **************************************************/
.insert-notice-table {
border: none;
    width: 100%;
    height: 100%;
}

.insert-notice-table > tbody {
	border-top: 1px solid #c0c0c0;
}

.insert-notice-table tr {
	height: 60px;
	border-bottom: 1px solid #c0c0c0;
}

.insert-notice-table tr:nth-child(2) {
	height: 200px;
}

.insert-notice-table th {
	background-color: #eef4ff;
	padding: 0 10px;
	text-align: center;
    font-weight: bold;
}

.insert-notice-table td {
	padding: 10px 10px;
	border-right: none;
}

form input[type="text"] {
	width: 100%;
	max-width:100%;
	padding: 10px;
	border: 1px solid #ccc;
}

input[type="file"] {
	width: 860px;
	padding: 10px;
	border: 1px solid #ccc;
}

#notice-content {
	height: 250px;
	width: 100%;
	resize: none;
}

#count-text {
	text-align: right;
}

#count {
	color: red;
}

#fileCount {
	display: inline-block;
	width: 1020px;
	border: 1px solid #cecece;
	padding: 10px;
	color: #a4a4a4;
	font-size: 0.9em;
}

.file-label>label {
	background-color: navy;
	height: 39px;
	line-height: 39px;
	color: #ffffff;
	border: none;
	padding: 0 10px;
	display: inline-block;
	align-items: center;
	text-decoration: none;
	margin: 0;
}

.file-label>label:hover {
	background-color: #E6E6E6;
	color: #111111;
	text-decoration: none;
}

#fileInput {
	display: none;
}

.file-list {
	height: auto;
}

.file-list .filebox p {
	display: inline-block;
}

.delete {
	color: red;
	margin-left: 5px;
}

.filebox {
	margin-bottom: 10px;
}
.filebox a {
	color:red;
}

.img-list img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin-right: 10px;
	border: 1px solid #111111;
}

.modButtons {
	margin-top: 20px;
	text-align: center;
	display: flex;
    justify-content: center;
}

.modButtons button {
	margin: 5px;
}

/******************* 공지 상세 페이지 CSS ****************************************/
#noticeDtlTitle {
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: 1px solid #c0c0c0;
}

#noticeDtlInfo {
	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 50px;
}
#noticeDtlContent {
	background-color: transparent;
}
.info-name {
	font-weight: 600;
}

#noticeImgContent {
	text-align: center;
	line-height: 300px;
	margin-bottom: 50px;
}

#notice-img {
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}