<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.batch.batchMapper">
	<resultMap id="asLogResult"
		type="kr.co.kccbrew.batch.AsLogVo">
		<result property="asStatus" column="AS_STATUS" />
		<result property="asProcess" column="AS_PROCESS" />
		<result property="asPerformer" column="AS_PERFORMER" />
		<result property="asProcessDate" column="AS_PROCESS_DATE" />
		<result property="asLogSeq" column="AS_LOG_SEQ" />
		<result property="asInfoSeq" column="AS_INFO_SEQ" />
		<result property="storeSeq" column="STORE_SEQ" />
		<result property="mechanicId" column="MECHANIC_ID" />
	</resultMap>

	<select id="selectRecentAsLog" resultMap="asLogResult">
		SELECT A.*
		FROM AS_LOG A
		JOIN (
		SELECT AS_INFO_SEQ, MAX(AS_LOG_SEQ) AS MAX_AS_LOG_SEQ
		FROM AS_LOG
		GROUP BY AS_INFO_SEQ
		) B ON A.AS_INFO_SEQ = B.AS_INFO_SEQ AND A.AS_LOG_SEQ =
		B.MAX_AS_LOG_SEQ
		ORDER BY as_log_seq
	</select>
	
	<update id="updateOmissionResult">
    UPDATE as_information
    SET IS_OMITTED = 'Y'
  </update>
</mapper>