<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
<div class="info-first">
	<div>
		<div>
			<div class="privacy"><span th:onclick="openPrivacy()" >개인정보 취급 방침</span></div>
		</div>
	</div>
</div>
<div class="info-second">
	<div>
		<div>
			서울시 용산구 청파로 61길 5 (청파동 1가 178-1) 6F~8F DX BIZ GROUP : 서울시 용산구 한강대로98길 3, KCC IT타워 3F~4F<br>
			사업자번호 106-81-04924 | 대표 : 노건우,배수연,윤진호,이세은 | 02-6090-7800 <br>
			COPYRIGHTS 2023-2023 KccBrew RIGHTS RESERVED.
		</div>
	</div>
</div>
</footer>
</html>