@charset "UTF-8";

#body {
	background-color: #EBF2FC;
}

body {
	background-color: #EBF2FC;
}

.notice {
	padding: 20px 0;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.category {
	width: 100%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E0E0E0;
	font-size: 1rem;
	margin-bottom: 20px;
}

.category>span {
	left: 30px;
	top: 15px;
	position: relative;
}

.filter {
	width: 100%;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E0E0E0;
	font-size: 1.3rem;
}

.YN {
	position: relative;
	left: 70px;
	top: 70px;
	float: left;
}

.YN4 {
	position: relative;
	left: 70px;
	top: 40px;
	float: left;
}

.YN1 {
	position: relative;
	left: 110px;
}

.YN2 {
	position: relative;
	left: 200px;
}

.YN3 {
	position: relative;
	left: 270px;
}

.inputbar {
	position: relative;
	left: 110px;
}

.bt {
	position: relative;
	left: 110px;
}

.fw {
	font-weight: bolder;
}



thead {
	background-color
	 :  #E0E0E0;
}
.text-center td, .text-center th {
    padding: 0.75rem;
    vertical-align: center;
    border-bottom: 1px solid #dee2e6;
}
.text-center{
	width: 100%;
}
.radio-value{
	width:17px;height:17px;border:1px;
}
.button{
	display :inline-block;
	margin-right :8px;
	margin-top: 10px;
}

.bt1{
	right: 110px;
	float: right;
	margin-bottom: 10px;
}
